<a href="https://colab.research.google.com/github/jesm-erick/bigData/blob/main/Ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
datos = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRrSv6qXTxxbY1BEwXqhwlxrW21-yWkO1p_hQwpuyEHoLKdFscJUnAnnvu1Ko_5xa_pwkq_uklW8MEP/pub?output=csv")

In [35]:
datos

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [8]:
#obtenemos la suma total de la suma ingresos
sumaIngresos = datos['ingresos'].sum()
print("la suma de la columna ingreso es  ", sumaIngresos)

la suma de la columna ingreso es   76180

In [12]:
#obtenemos el promedio de las edades de las personas de la lista
promedio_edad = datos['edad'].mean()
print("el promedio de edad es ", int(promedio_edad))

el promedio de edad es  31

In [26]:
#obtenemos las personas que trabajan en Arequipa
datos_areq = datos[datos['ciudad'] == 'Arequipa']
datos_areq = datos_areq[["nombre" , "ciudad"]]
print(datos_areq)

      nombre    ciudad
1      María  Arequipa
4      Pedro  Arequipa
10  Gabriela  Arequipa
15    Javier  Arequipa
21      José  Arequipa

In [24]:
#obtenemos el promedio de ingreso por ciudad
promedio_ciudad=datos.groupby('ciudad')['ingresos'].mean().astype(int);
print(promedio_ciudad)

ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64

In [36]:
#obtenemos la persona mas joven

joven = datos.loc[datos['edad']==datos['edad'].min()].values[0]
print(joven)

['Micaela' 21 'Juliaca' 5000]

In [37]:
#obtenemos la persona mas mayor
mayor = datos.loc[datos['edad']==datos['edad'].max(),].values[0]
print(mayor)

['Leonel' 64 'Juliaca' 4980]

In [44]:
#obtenemos conteo por ciudad
conteo_ciudad = datos['ciudad'].value_counts()

print(conteo_ciudad)

Lima        6
Arequipa    5
Trujillo    5
Cusco       4
Juliaca     2
Puno        1
Name: ciudad, dtype: int64

In [49]:
#Listado ordenado por edad de forma descendente
orden = datos.sort_values(by=['edad'], ascending= False)
print(orden)

       nombre  edad    ciudad  ingresos
5      Leonel    64   Juliaca      4980
22      Willy    55      Puno      1300
2        Luis    35     Cusco      4800
19    Ricardo    35      Lima      4400
21       José    34  Arequipa      4200
10   Gabriela    33  Arequipa      4000
15     Javier    32  Arequipa      5000
6       Laura    31      Lima      4200
17     Manuel    31  Trujillo      2700
14     Lorena    30      Lima      3800
0        Juan    30      Lima      2500
8       Sofía    29  Trujillo      2900
16    Daniela    29      Lima      2700
1       María    28  Arequipa      3800
18   Fernanda    28     Cusco      2100
4       Pedro    28  Arequipa      3200
9      Andrés    27      Lima      2600
13  Valentina    26  Trujillo      3500
7      Carlos    25     Cusco      1800
12      Diego    24     Cusco      3200
20      Lucía    23  Trujillo      1500
3         Ana    22  Trujillo      2000
11    Micaela    21   Juliaca      5000